<h2>Create celebrity</h2>
  <form action="/celebrities/create" method="POST">

<label for="createname">Celebrity's Name:</label><br>
<input type="text" id="createname" name="createname" value=""><br><br>

  <label for="createoccupation">Occupation:</label><br>
  <input type="text" id="createoccupation" name="createoccupation" value=""><br><br>

  <label for="createphrase">Catch Phrase:</label><br>
  <input type="text" id="createphrase" name="createphrase" value=""><br>


  <br>
  <input type="submit" value="Submit">
</form> 

  </form> 